@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.question {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 1px;
}

img {
  width: 40%;
}

body {
  background-color: #2D3542;
  text-align: center;
  color: white;
}

.card {
  background-color: #EC6F75;
  font-size: 20px;
  text-align: left;
}


.item {
  color: black;
  text-align: left;
}

.button {
  margin: 10px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.blackfont {
  color: black;
}