.container {
  margin-top: 40px;
}

.question {
  font-weight: 800;
}

img {
  width: 50%;
}

body {
  background-color: #2D3542;
  text-align: center;
  color: white;
}

.card {
  background-color: #EC6F75;
  font-size: 20px;
  text-align: left;
}